footer {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 90%;
    width: 100%;
    background-color: beige;
    color: black;
    text-align: right;
 }
 colortext{
    text-transform: capitalize;

 }